<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Mecha ORM Test Suite">
          <directory suffix=".php">./tests/lib/orm</directory>
        </testsuite>
        <testsuite name="Mecha DBAL Test Suite">
          <directory suffix=".php">./tests/lib/dbal</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
